<!-- Content -->
<div class="container Content" id="content">
    <div class="row">
        <div class="col-12 unset">
            <div class="position-relative">
                <%=video_tag "intro.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "video Content_row_col-12_video animate__animated animate__flash", id: "myVideo"%>

               <div class="content text-center Content_row_col-12_content">
                    <h1 class="font-italic text-orange font-lg animate__animated animate__fadeInLeft pointer">
                        CoffeHolic 
                    </h1>
                    <h1 class="font-italic text-orange font-lg animate__animated animate__fadeInRight pointer">
                        Create
                    </h1>
                    <button class="btn btn-block btn-lg btn-outline-orange rounded-0 font-italic mt-3 animate__animated animate__fadeInUp">
                        SHOP NOW
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slide -->
<div class="container Slide">
    <div class="row">
        <div class="col-12 mb-4">
            <h3 class="m-0 text-orange font-italic text-center my-4 animate__animated animate__fadeInDown pointer">
                @CoffeHolic
            </h3>
             <div class="owl-carousel owl-theme animate__animated animate__fadeInUp">
                <div class="item">
                    <%= image_tag "w1.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w2.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w3.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w4.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w5.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w6.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w7.jpg"%>
                </div>
                <div class="item">
                   <%= image_tag "w8.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w9.jpg"%>
                </div>
                <div class="item">
                    <%= image_tag "w10.jpg"%>
                </div>
            </div>
        </div>
    </div>
</div>
