<% provide(:title, 'New Product') %>
<%= javascript_include_tag Ckeditor.cdn_url %>

 <div class="col-md-12 col-md-offset-3">
    <%= form_for [:admin, @product], url: admin_products_path, :html => {:multipart => true} do |f|%>
      <%= render 'shared/errors_message', object: f.object %>
      <h5>Choose Category</h5>
      <%= f.select(:category_ids, options_for_select(@category.map{ |c| [c.name, c.id, :class => 'rounded-circle']}, :selected => @selected), {}, {:multiple => true, class: "multiple form-control", required: true})%>
      <br>
      <h5>New Post</h5>
      <%= f.label :name %>
      <%= f.text_field :name, required: true,  class: 'form-control' %>
      <%= f.label :price %>
      <%= f.number_field :price, required: true, class: 'form-control'%>
      <%= f.label :image%>
      <%= f.file_field :image,  accept: "image/jpeg, image/gif, image/png, image/jpg", class: 'form-control-file'%>
      <br>
      <%= f.label :description%>
      <%= f.cktext_area :description, required: true, class: 'form-control', as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }%>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
</div>
<script>
  function myFunction() {
    var x = document.getElementById("myInput").value;
    document.getElementById("demo").value = x.replace(/ /g,'-');
  }
</script>