<% provide(:title, "Create User") %>
<div class="container d-flex justify-content-center">
<div class="row shadow-lg rounded p-5">
 <div class="col-md-12 col-md-offset-3"> 
    <h1>Create your profile</h1>
    <%= form_for [:admin, @user], url: admin_users_path do |f| %>
       <%= render 'shared/errors_message', object: f.object %>
      <%= f.label :role_id %>
      <%= f.select :role_id, options_for_select(@role.map{|c| [c.name, c.id]}, :selected => @selected), { :include_blank => true} , class: 'form-control'%>
      <%= f.label :avatar%>
      <%= f.file_field :avatar,  accept: "image/jpeg, image/gif, image/png, image/jpg", class: 'form-control-file'%>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.email_field :email, required: true, class: 'form-control' %>
      <%= f.label :admin%>
      <%= f.check_box :admin, {}, "true", "false"%>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= f.submit "Save changes", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>
</div>
</div>