<div class="container Topbar mb-5">
        <div class="row d-flex justify-content-between align-items-center my-3">
            <div class="col-2 animate__animated animate__fadeInLeft">
                <a href="<%= root_path %>">
                    <%= image_tag "white-logo.png", width: "80%" %>
                </a>
            </div>

            <div class="col-7 menu-bar animate__animated animate__fadeInDown ">
                <ul class="m-0 p-0 d-flex justify-content-around align-items-center">
                    <li class="list-unstyled">
                        <a class="text-decoration-none font-italic text-orange" href="#" onclick="loadShop()">
                            SHOP
                        </a>
                        <div class="sub-menu Topbar_row_col-4_ul_li_sub-menu pt-1">
                            <ul class="m-0 p-0 list-menu">
                                <li class="list-unstyled my-1">
                                    <a class="text-decoration-none text-orange font-italic" href="<%= articles_path %>"
                                        onclick="loadShop()">
                                        COFFEE'S News
                                    </a>
                                </li>
                                <li class="list-unstyled my-1">
                                    <a class="text-decoration-none text-orange font-italic" href="<%= products_path%>"
                                        onclick="loadShop()">
                                        COFFEE'S PRODUCT
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-unstyled">
                        <a class="text-decoration-none font-italic text-orange" href="#" onclick="loadShop()">
                            CATEGORY
                        </a>
                        <div class="sub-menu Topbar_row_col-4_ul_li_sub-menu pt-1">
                            <ul class="m-0 p-0 list-menu ">
                                <li class="list-unstyled my-1 dropdown ">
                                    <a class="text-decoration-none text-orange font-italic" type="button" href="<%= categories_path("product")%>">
                                        COFFEE'S CATEGORY
                                    </a>
                                </li>
                                <li class="list-unstyled my-1">
                                    <a class="text-decoration-none text-orange font-italic" href="<%= categories_path("article")%>"
                                        onclick="loadShop()">
                                        NEWS CATEGORY
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list-unstyled">
                        <a class="text-decoration-none font-italic text-orange" href="<%=about_path%>" onclick="loadAbout()">
                            ABOUT US
                        </a>
                    </li>
                    <li class="list-unstyled">
                        <a class="text-decoration-none font-italic text-orange" href="<%=contact_path%>" onclick="loadContact()">
                            CONTACT
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-3">
                <ul class="m-0 p-0 d-flex justify-content-center align-items-center">
                    <%if log_in?%>
                        <li class="nav-item dropdown no-arrow list-unstyled">
                          <a class="nav-link dropdown-toggle text-decoration-none text-orange d-flex align-items-center" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-user-circle fa-lg mr-2"></i>
                            <small class="font-italic"><%=current_user.name%></small>
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="">
                              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                              Edit Profile
                            </a>
                            <a class="dropdown-item" href="">
                              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                              Order History
                            </a>
                            <div class="dropdown-divider"></div>
                            <%= button_to "Logout", logout_path, class:"dropdown-item", method: "delete" %>
                          </div>
                        </li>
                    <%else%>
                        <li class="list-unstyled mr-4 animate__animated animate__fadeInUp">
                            <a class="text-decoration-none text-orange d-flex align-items-center" href="<%= login_path %>">
                                <small class="font-italic">LOG IN</small>
                            </a>
                        </li>
                    <%end%>
                    <li class="list-unstyled">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-orange rounded-0" data-toggle="modal"
                            data-target="#exampleModal">
                            <i class="fas fa-shopping-bag fa-lg"></i>
                            <small class="font-italic"><%= current_order.order_products.size%></small>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content rounded-0 border-orange bg-darkmaroon">
                                    <div
                                        class="modal-header d-flex justify-content-center font-italic bg-orange border-b-orange rounded-0">
                                        <h5 class="modal-title text-black" id="exampleModalLabel">
                                            MY CART
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="product">
                                        <% current_order.products.each do |product|%>
                                            <div class="product-items d-flex justify-content-around align-items-center">
                                                <div class="img Topbar_row_col-3_modal-body_product_product_items_img">
                                                    <%= image_tag product.image, class: "img Topbar_row_col-3_modal-body_product_product_items_img" if product.image.attached? %>
                                                </div>
                                                <div
                                                    class="info Topbar_row_col-3_modal-body_product_product_items_info">
                                                    <h6 class="m-0 font-italic text-orange"><%= product.name%></h6>
                                                    <small><%= product.price %></small>
                                                </div>
                                                <div class="btn Topbar_row_col-3_modal-body_product_product_items_btn">
                                                    <%= button_to  order_product_path(product.id), method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' } do%>
                                                        <i class="fas fa-trash"></i>
                                                    <%end%>
                                                </div>
                                            </div>
                                            <hr class="border-t-orange">
                                        <%end%>
                                        </div>
                                    </div>
                                    <div class="modal-footer border-t-orange d-flex justify-content-between ml-2">
                                        <a class="btn btn-outline-orange text-orange font-italic rounded-0" href="<%= cart_details_path %>">
                                            View Cart
                                        </a>
                                        <button type="button" class="btn btn-outline-orange font-italic rounded-0"
                                            data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>